{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block content %}

<section class="logo-container">
  <div class="meme-container">
    <img
    class="logo-image" 
    src="{% static 'images/mememuseum-logo.png' %}" 
    alt="Meme Museum"/>
  </div>
</section>

{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Welcome to Meme Museum!</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
    <br>
    <div class="login">
      <h1>Not a user?</h1>
      <a href="{% url 'signup' %}"><button class="btn submit">Sign Up</button></a>
    </div>
  </section>
{% else %}
  <section>
    <div class="login">
      <h1>Welcome back, {{ user }}</h1>
      <a href="{% url 'meme-canvas' %}"><button class="btn   submit">Create a Meme</button></a>
      <a href="{% url 'meme-index' %}"><button class="btn   submit">Meme Gallery</button></a>
    </div>
  </section>
{% endif %}

{% endblock content %}


